{{#partial "content"}}

    {{#if editAmp}}
        <h1>Edit this Amp!</h1>
        <form action="/amps/{{editAmp.id}}/update" method="post">
            <label for="type">Edit type</label><br>
            <input id="type" name="type" type="text" value="{{editAmp.type}}"><br><br>
            <label for="manufacturer">Edit manufacturer</label><br>
            <input id="manufacturer" name="manufacturer" type="text" value="{{editAmp.manufacturer}}"><br><br>
            <label for="model">Edit model</label><br>
            <input id="model" name="model" type="text" value="{{editAmp.model}}"><br><br>
            <label for="year">Edit year</label><br>
            <input id="year" name="year" type="number" value="{{editAmp.year}}"><br><br>
            <label for="power">Edit power</label><br>
            <input id="power" name="power" type="text" value="{{editAmp.power}}"><br><br>
            <label for="color">Edit color</label><br>
            <input id="imageUrl" name="imageUrl" type="text" value="{{editAmp.imageUrl}}"><br><br>
            <label for="grillCloth">Edit grill cloth</label><br>
            <input id="grillCloth" name="grillCloth" type="text" value="{{editAmp.grillCloth}}"><br><br>
            <label for="finish">Edit finish</label><br>
            <input id="finish" name="finish" type="text" value="{{editAmp.finish}}"><br><br>
            <label for="notes">Edit notes</label><br>
            <input id="notes" name="notes" type="text" value="{{editAmp.notes}}"><br><br>

    {{else}}
            <h1>Add a new amp!</h1>
        <form action="/amps/new" method="post">
            <label for="type">Enter type</label><br>
            <input id="type" name="type" type="text"><br><br>
            <label for="manufacturer">Enter manufacturer</label><br>
            <input id="manufacturer" name="manufacturer" type="text"><br><br>
            <label for="model">Enter model</label><br>
            <input id="model" name="model" type="text"><br><br>
            <label for="year">Enter year</label><br>
            <input id="year" name="year" type="number"><br><br>
            <label for="power">Enter power</label><br>
            <input id="power" name="power" type="text"><br><br>
            <label for="imageUrl">Enter imageUrl</label><br>
            <input id="imageUrl" name="imageUrl" type="text"><br><br>
            <label for="grillCloth">Enter grill cloth</label><br>
            <input id="grillCloth" name="grillCloth" type="text"><br><br>
            <label for="finish">Enter finish</label><br>
            <input id="finish" name="finish" type="text"><br><br>
            <label for="notes">Enter notes</label><br>
            <input id="notes" name="notes" type="text"><br><br>



    {{/if}}
        <button type="submit" class="btn btn-default">Go!</button>
    </form>
{{/partial}}

{{> layout.hbs}}
